body {
  width: 35%;
}

#res {
  background-color: lightgray;
  border: solid;
  height: 48px;
  font-size: 20px;
}

#btns button {
	width: 25%;
	height: 36px; 
	font-size: 18px;
	margin: 0px;
	float: left;
}

#btn0, #btn1 {
	color: brown;
	background-color: lightgreen;
}

#btnClr, #btnEql {
	color: white;
	background-color: green;
}

#btnSum, #btnMul, #btnDiv, #btnSub {
	color: red;
	background-color: black;
}
